<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank Sampah - Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="login-body">
    <div class="login-container">
        <h1 class="login-title">Bank Sampah</h1>
        <div class="login-box">
            <form action="/login/bubs" method="post">
                <input type="text" name="username" placeholder="Masukkan Username" required>
                <input type="password" name="password" placeholder="Masukkan Password" required>
                <div class="button-container">
                    <input type="submit" value="login">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
